<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Shoe Store and Brand Associations</title>
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Shoe Stores and Brands!</h1>
            </header>

            <div class="row">
                <div class="col-md-6">
                    <form method="post" action="/brand/{{ brand.getId }}">
                        <input name="brand_id" type="hidden" value="{{ brand.getId }}">

                        <div class="form-group">
                            <label><strong>Add a store that sells {{ brand.getName }}</strong></label><br>
                            <select name='store_id'>
                                {% for store in stores %}
                                <option value="{{ store.getId }}">{{ store.getName }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <button type="submit" class="btn btn-sm btn-success">Add Store to {{ brand.getName }}</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    {% if brand_stores is not empty %}
                        <label><strong>{{brand.getName}} is carried at the following stores:</label></strong>
                        {% for brand_store in brand_stores %}
                            <h4><strong>{{ brand_store.getName }}</strong></h4>
                        {% endfor %}
                    {% endif%}
                </div>
            </div>
            
            <div class="row">
                <form action="/" method="get" id="go_home">
                    <button class="btn btn-success" type="submit">Go Home</button>
                </form>
            </div>

        </div>
    </body>
</html>
