<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Shoe Store and Brand Associations</title>
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Shoe Stores and Brands!</h1>
            </header>
            <form method="post" action="/brand/{{ brand.getId }}">
                <input name="brand_id" type="hidden" value="{{ brand.getId }}">

                <div class="form-group">
                    <label><strong>Enter Store</strong></label><br>

                    <select name='store_id'>
                        {% for store in stores %}
                        <option value="{{ store.getId }}">{{ store.getName }}</option>
                        {% endfor %}
                    </select><br><br>

                    <button type="submit" class="btn btn-xs">Add Store to {{ brand.getName }}</button>
                </div>
            </form>


                <h4>{{brand.getName}} is carried at the following stores:</h4>

                {% for brand_store in brand_stores %}
                    <h4>{{ brand_store.getName }}</h4>
                {% endfor %}

                <br><br>
                <div id="go_home">
                    <form action="/" method="get">
                        <button class="btn btn-xs" type="submit">Go Home</button>
                    </form>
                </div>
        </div>
    </body>
</html>
