<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Shoe Store and Brand Associations</title>
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Shoe Stores and Brands!</h1>
            </header>

            <div class="row">
                <div class="col-md-6">
                    <form method="post" action="/add_store">
                        <label><strong>Enter a Shoe Store</strong></label><br>
                        <div class="form-group">
                            <input id="name" type="text" name="name" class="form-control" placeholder="ex. Shoe Mill" required>
                        </div>
                        <div id="add_book">
                            <button type="sumbit" class="btn btn-success btn-sm">Add Store</button><br><br>
                        </div>
                    </form>
                    <div id="delete_stores">
                        <form action="/delete_stores" method="post" class="form-group">
                            <input name="_method" type="hidden" value="delete">
                            <button type="submit" class="btn btn-warning btn-sm">Delete All Stores</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <form method="post" action="/add_brand">
                        <label><strong>Enter a Shoe Brand</strong></label><br>
                        <div class="form-group">
                            <input id="name" type="text" name="name" class="form-control" placeholder="ex. Pumas" required>
                        </div>
                        <div id="add_book">
                            <button type="sumbit" class="btn btn-success btn-sm">Add Brand</button><br><br>
                        </div>
                    </form>
                    <div id="delete_brands">
                        <form action="/delete_brands" method="post" class="form-group">
                            <input name="_method" type="hidden" value="delete">
                            <button type="submit" class="btn btn-warning btn-sm">Delete All Brands</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label><strong>List of Stores in Database</strong></label>

                    {% if stores is not empty %}
                    {% for store in stores %}
                    <ul>
                        <li><a href="/store/{{ store.getId }}">{{ store.getName }}</a></li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label><strong>List of Brands in Database</strong></label>

                    {% if brands is not empty %}
                    {% for brand in brands %}
                    <ul>
                        <li><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a></li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </body>
</html>
