<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Shoe Store and Brand Associations</title>
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Shoe Stores and Brands!</h1>
            </header>

            <div id="delete_store" class="row">
                <div class="col-md-12">
                    <form action="/store/{{ store.getId }}" method="post">
                        <input name="_method" type="hidden" value="delete">

                        <button class="btn btn-sm btn-danger"type="submit">Delete This Store</button>
                    </form>
                    <h3><a href="/store/{{ store.getId }}/edit">Edit Store Info</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form method="post" action="/store/{{ store.getId }}">
                        <input name="store_id" type="hidden" value="{{ store.getId }}">

                        <div class="form-group">
                            <label><strong>Enter a Brand Sold at {{ store.getName }}</strong></label><br>
                            <select name='brand_id'>
                                {% for brand in brands %}
                                <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                                {% endfor %}
                            </select><br><br>
                            <button type="submit" class="btn btn-success btn-sm">Add Brand to {{ store.getName }}</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <label><strong>{{store.getName}} carries the following brands:</strong></label>
                    {% for store_brand in store_brands %}
                    <h4><strong>{{ store_brand.getName }}</strong></h4>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <form action="/" method="get" id="go_home">
                    <button class="btn btn-success" type="submit">Go Home</button>
                </form>
            </div>


        </div>
    </body>
</html>
