<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Shoe Store and Brand Associations</title>
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Shoe Stores and Brands!</h1>
            </header>
            <form method="post" action="/store/{{ store.getId }}">
                <input name="store_id" type="hidden" value="{{ store.getId }}">

                <div class="form-group">
                    <label><strong>Enter Brand</strong></label><br>

                    <select name='brand_id'>
                        {% for brand in brands %}
                        <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                        {% endfor %}
                    </select><br><br>

                    <button type="submit" class="btn btn-xs">Add Brand to {{ store.getName }}</button>
                </div>
            </form>

            <h4>{{store.getName}} carries the following brands:</h4>

            {% for store_brand in store_brands %}
            <h4>{{ store_brand.getName }}</h4>
            {% endfor %}

            <br><br>
            <div id="go_home">
                <form action="/" method="get">
                    <button class="btn btn-xs" type="submit">Go Home</button>
                </form>
            </div>

        </div>
    </body>
</html>
